In [1]:
import pandas as pd 
import numpy as np

# Introduction to dataset

- Datasets are in separeted worksheets in EXCEL (for each year). Because my data for density covers only years 2013-2021 I will skip here year 2022.
- There are informations on total cases, or (cases*100.000)/number of inhabitants
- I will concentrate on the total number of cases, and later on I will calculate ratio per inhabitants.
- First formating data was done with a help of macro in Excel. 

#### Categories of crime acts
- Multiple categories, I will concentrate on chosen ones, and aggregate the rest to the column "others".
- I also decide to create one category out of two called: "crime_against_life_and_health". This is the "hardest" category of crime.
- Categories to analyse:
  - robbery
  - hard_crime (meaning: crime_against_life_and_health)
  - theft_bike
  - theft_other
  - bulglary
  - graffiti
  - drug_offences
  - others

In [ ]:
# First small formatting changes were made in EXCEL using macro function.

In [2]:
df = pd.read_excel('../Notebook/source/Fallzahlen&HZ 2013-2022_clean_macro.xlsm', sheet_name='Fallzahlen_2013')

In [3]:
display(df.head(10))
df.shape

,LOR,Bezeichnung (Bezirksregion),Bezirk,Straftaten \n-insgesamt-,Raub,"Straßenraub,\nHandtaschen-raub",Körper-verletzungen \n-insgesamt-,Gefährl. und schwere Körper-verletzung,"Freiheits-beraubung, Nötigung,\nBedrohung, Nachstellung",Diebstahl \n-insgesamt-,Diebstahl von Kraftwagen,Diebstahl \nan/aus Kfz,Fahrrad-\ndiebstahl,Wohnraum-\neinbruch,Branddelikte \n-insgesamt-,Brand-\nstiftung,Sach-beschädigung -insgesamt-,Sach-beschädigung durch Graffiti,Rauschgift-delikte,Kieztaten
0,11001,Tiergarten Süd,Mitte,4835,73,48,462,145,105,2282,13,328,129,62,13,4,220,20,96,854
1,11002,Regierungsviertel,Mitte,7069,44,19,486,129,124,3641,18,281,219,33,4,1,345,151,58,830
2,11003,Alexanderplatz,Mitte,17774,184,110,1336,349,304,9408,77,664,806,281,39,17,1164,428,485,2765
3,11004,Brunnenstraße Süd,Mitte,4378,32,9,216,49,63,2434,99,229,344,137,6,3,380,168,69,962
4,12005,Moabit West,Mitte,6522,88,42,578,153,232,2361,71,420,328,139,44,12,501,89,197,1298
5,12006,Moabit Ost,Mitte,9880,72,34,603,142,176,3350,78,407,341,128,32,16,447,77,331,1294
6,13007,Osloer Straße,Mitte,7614,119,59,783,207,248,3459,26,368,263,166,27,8,412,46,346,1629
7,13008,Brunnenstraße Nord,Mitte,6818,117,Eso,641,158,203,3211,98,481,259,196,32,11,463,116,279,1554
8,14009,Parkviertel,Mitte,6476,84,36,677,203,258,2762,68,501,282,153,28,16,500,80,214,1645
9,14010,Wedding Zentrum,Mitte,9026,150,69,1119,335,373,3187,47,562,312,201,69,25,776,117,495,2327

(143, 20)

In [4]:
df.isna().sum().sum()
df.isna().sum()

LOR                                                        0
Bezeichnung (Bezirksregion)                                0
Bezirk                                                     0
Straftaten \n-insgesamt-                                   0
Raub                                                       0
Straßenraub,\nHandtaschen-raub                             0
Körper-verletzungen \n-insgesamt-                          0
Gefährl. und schwere Körper-verletzung                     0
Freiheits-beraubung, Nötigung,\nBedrohung, Nachstellung    0
Diebstahl \n-insgesamt-                                    0
Diebstahl von Kraftwagen                                   0
Diebstahl \nan/aus Kfz                                     0
Fahrrad-\ndiebstahl                                        0
Wohnraum-\neinbruch                                        0
Branddelikte \n-insgesamt-                                 0
Brand-\nstiftung                                           0
Sach-beschädigung -insgesamt-                              0
Sach-beschädigung durch Graffiti                           0
Rauschgift-delikte                                         0
Kieztaten                                                  0
dtype: int64

In [5]:
df.dtypes

LOR                                                         int64
Bezeichnung (Bezirksregion)                                object
Bezirk                                                     object
Straftaten \n-insgesamt-                                    int64
Raub                                                        int64
Straßenraub,\nHandtaschen-raub                             object
Körper-verletzungen \n-insgesamt-                           int64
Gefährl. und schwere Körper-verletzung                      int64
Freiheits-beraubung, Nötigung,\nBedrohung, Nachstellung     int64
Diebstahl \n-insgesamt-                                     int64
Diebstahl von Kraftwagen                                    int64
Diebstahl \nan/aus Kfz                                      int64
Fahrrad-\ndiebstahl                                         int64
Wohnraum-\neinbruch                                         int64
Branddelikte \n-insgesamt-                                  int64
Brand-\nstiftung                                            int64
Sach-beschädigung -insgesamt-                               int64
Sach-beschädigung durch Graffiti                            int64
Rauschgift-delikte                                          int64
Kieztaten                                                   int64
dtype: object

In [6]:
df.columns

Index(['LOR', 'Bezeichnung (Bezirksregion)', 'Bezirk',
       'Straftaten \n-insgesamt-', 'Raub', 'Straßenraub,\nHandtaschen-raub',
       'Körper-verletzungen \n-insgesamt-',
       'Gefährl. und schwere Körper-verletzung',
       'Freiheits-beraubung, Nötigung,\nBedrohung, Nachstellung',
       'Diebstahl \n-insgesamt-', 'Diebstahl von Kraftwagen',
       'Diebstahl \nan/aus Kfz', 'Fahrrad-\ndiebstahl', 'Wohnraum-\neinbruch',
       'Branddelikte \n-insgesamt-', 'Brand-\nstiftung',
       'Sach-beschädigung -insgesamt-', 'Sach-beschädigung durch Graffiti',
       'Rauschgift-delikte', 'Kieztaten'],
      dtype='object')

In [7]:
df = df.drop(["Gefährl. und schwere Körper-verletzung", "Diebstahl \nan/aus Kfz", "Branddelikte \n-insgesamt-", "Brand-\nstiftung",\
             "Sach-beschädigung -insgesamt-","Kieztaten", "Diebstahl von Kraftwagen", "Straßenraub,\nHandtaschen-raub"], axis=1)

In [8]:
df.head(2)

,LOR,Bezeichnung (Bezirksregion),Bezirk,Straftaten \n-insgesamt-,Raub,Körper-verletzungen \n-insgesamt-,"Freiheits-beraubung, Nötigung,\nBedrohung, Nachstellung",Diebstahl \n-insgesamt-,Fahrrad-\ndiebstahl,Wohnraum-\neinbruch,Sach-beschädigung durch Graffiti,Rauschgift-delikte
0,11001,Tiergarten Süd,Mitte,4835,73,462,105,2282,129,62,20,96
1,11002,Regierungsviertel,Mitte,7069,44,486,124,3641,219,33,151,58

In [9]:
df.shape

(143, 12)

In [10]:
df["hard_crime"] = df["Körper-verletzungen \n-insgesamt-"] + df["Freiheits-beraubung, Nötigung,\nBedrohung, Nachstellung"]
df["theft_other"] = df["Diebstahl \n-insgesamt-"] - df["Fahrrad-\ndiebstahl"]

In [11]:
df.head(2)

,LOR,Bezeichnung (Bezirksregion),Bezirk,Straftaten \n-insgesamt-,Raub,Körper-verletzungen \n-insgesamt-,"Freiheits-beraubung, Nötigung,\nBedrohung, Nachstellung",Diebstahl \n-insgesamt-,Fahrrad-\ndiebstahl,Wohnraum-\neinbruch,Sach-beschädigung durch Graffiti,Rauschgift-delikte,hard_crime,theft_other
0,11001,Tiergarten Süd,Mitte,4835,73,462,105,2282,129,62,20,96,567,2153
1,11002,Regierungsviertel,Mitte,7069,44,486,124,3641,219,33,151,58,610,3422

In [12]:
df = df.drop(["Körper-verletzungen \n-insgesamt-", "Freiheits-beraubung, Nötigung,\nBedrohung, Nachstellung",\
             "Diebstahl \n-insgesamt-"], axis=1)

In [13]:
df.head(2)

,LOR,Bezeichnung (Bezirksregion),Bezirk,Straftaten \n-insgesamt-,Raub,Fahrrad-\ndiebstahl,Wohnraum-\neinbruch,Sach-beschädigung durch Graffiti,Rauschgift-delikte,hard_crime,theft_other
0,11001,Tiergarten Süd,Mitte,4835,73,129,62,20,96,567,2153
1,11002,Regierungsviertel,Mitte,7069,44,219,33,151,58,610,3422

In [14]:
df = df.rename(columns={'Bezeichnung (Bezirksregion)':'subdistrict', 'Bezirk':'district','Straftaten \n-insgesamt-':'crime_total', \
                        'Raub':'robbery', 'Wohnraum-\neinbruch':'bulglary', 'Fahrrad-\ndiebstahl':'theft_bike',\
                        'Sach-beschädigung durch Graffiti':'graffiti', 'Rauschgift-delikte':'drug_offences'})

In [15]:
df["other_crime"] = df["crime_total"] - df["robbery"] - df["theft_bike"] - df["bulglary"] - df["graffiti"] - df["drug_offences"] - \
df["hard_crime"] - df["theft_other"]

In [16]:
df.columns = df.columns.str.lower()

In [17]:
df = df[['lor','subdistrict', 'district', 'crime_total', 'robbery', 'theft_bike', 'theft_other', 'bulglary',\
        'graffiti', 'drug_offences', 'hard_crime', 'other_crime']]

In [18]:
df.head()

,lor,subdistrict,district,crime_total,robbery,theft_bike,theft_other,bulglary,graffiti,drug_offences,hard_crime,other_crime
0,11001,Tiergarten Süd,Mitte,4835,73,129,2153,62,20,96,567,1735
1,11002,Regierungsviertel,Mitte,7069,44,219,3422,33,151,58,610,2532
2,11003,Alexanderplatz,Mitte,17774,184,806,8602,281,428,485,1640,5348
3,11004,Brunnenstraße Süd,Mitte,4378,32,344,2090,137,168,69,279,1259
4,12005,Moabit West,Mitte,6522,88,328,2033,139,89,197,810,2838

In [19]:
df.shape

(143, 12)

In [20]:
c_2013 = df
# c_2013

In [21]:
c_2013 = c_2013.rename(columns={"crime_total":"crime_total_2013", "robbery":"robbery_2013", "theft_bike":"theft_bike_2013",\
                                "theft_other":"theft_other_2013", "bulglary":"bulglary_2013", "graffiti":"graffiti_2013",\
                                "drug_offences":"drug_offences_2013", "hard_crime":"hard_crime_2013", "other_crime":"other_crime_2013"})

In [22]:
c_2013.head(2)

,lor,subdistrict,district,crime_total_2013,robbery_2013,theft_bike_2013,theft_other_2013,bulglary_2013,graffiti_2013,drug_offences_2013,hard_crime_2013,other_crime_2013
0,11001,Tiergarten Süd,Mitte,4835,73,129,2153,62,20,96,567,1735
1,11002,Regierungsviertel,Mitte,7069,44,219,3422,33,151,58,610,2532

#### Cleaning other years with function

In [23]:
df = pd.read_excel('../Notebook/source/Fallzahlen&HZ 2013-2022_clean_macro.xlsm', sheet_name='Fallzahlen_2014')

In [24]:
df.shape

(143, 20)

In [25]:
df.isna().sum().sum()

0

In [26]:
df.head(2)

,LOR,Bezeichnung (Bezirksregion),Bezirk,Straftaten \n-insgesamt-,Raub,"Straßenraub,\nHandtaschen-raub",Körper-verletzungen \n-insgesamt-,Gefährl. und schwere Körper-verletzung,"Freiheits-beraubung, Nötigung,\nBedrohung, Nachstellung",Diebstahl \n-insgesamt-,Diebstahl von Kraftwagen,Diebstahl \nan/aus Kfz,Fahrrad-\ndiebstahl,Wohnraum-\neinbruch,Branddelikte \n-insgesamt-,Brand-\nstiftung,Sach-beschädigung -insgesamt-,Sach-beschädigung durch Graffiti,Rauschgift-delikte,Kieztaten
0,11001,Tiergarten Süd,Mitte,5294,72,46,482,134,121,2490,16,209,195,70,8,5,230,29,146,985
1,11002,Regierungsviertel,Mitte,8381,49,16,440,92,108,4405,10,179,371,52,3,2,361,139,78,832

In [27]:
def clean_data(df, year):  
    # Function to clean data
    # year should be a string
    df = df.drop(["Gefährl. und schwere Körper-verletzung", "Diebstahl \nan/aus Kfz", "Branddelikte \n-insgesamt-", "Brand-\nstiftung",\
             "Sach-beschädigung -insgesamt-","Kieztaten", "Diebstahl von Kraftwagen", "Straßenraub,\nHandtaschen-raub"], axis=1)
    
    df["hard_crime"] = df["Körper-verletzungen \n-insgesamt-"] + df["Freiheits-beraubung, Nötigung,\nBedrohung, Nachstellung"]
    df["theft_other"] = df["Diebstahl \n-insgesamt-"] - df["Fahrrad-\ndiebstahl"]

    df = df.drop(["Körper-verletzungen \n-insgesamt-", "Freiheits-beraubung, Nötigung,\nBedrohung, Nachstellung",\
             "Diebstahl \n-insgesamt-"], axis=1)
    df = df.rename(columns={'Bezeichnung (Bezirksregion)':'subdistrict', 'Bezirk':'district','Straftaten \n-insgesamt-':'crime_total', \
                        'Raub':'robbery', 'Wohnraum-\neinbruch':'bulglary', 'Fahrrad-\ndiebstahl':'theft_bike',\
                        'Sach-beschädigung durch Graffiti':'graffiti', 'Rauschgift-delikte':'drug_offences'})
    
    df["other_crime"] = df["crime_total"] - df["robbery"] - df["theft_bike"] - df["bulglary"] - df["graffiti"] - df["drug_offences"] - \
    df["hard_crime"] - df["theft_other"]
    
    df.columns = df.columns.str.lower()
    
    df = df[['lor','subdistrict', 'district', 'crime_total', 'robbery', 'theft_bike', 'theft_other', 'bulglary',\
        'graffiti', 'drug_offences', 'hard_crime', 'other_crime']]  

    df = df.rename(columns={"crime_total":"crime_total_"+year, "robbery":"robbery_"+year, "theft_bike":"theft_bike_"+year,\
                                "theft_other":"theft_other_"+year, "bulglary":"bulglary_"+year, "graffiti":"graffiti_"+year,\
                                "drug_offences":"drug_offences_"+year, "hard_crime":"hard_crime_"+year, "other_crime":"other_crime_"+year})

    return df

In [28]:
c_2014 = clean_data(df, "2014")

In [29]:
c_2014

,lor,subdistrict,district,crime_total_2014,robbery_2014,theft_bike_2014,theft_other_2014,bulglary_2014,graffiti_2014,drug_offences_2014,hard_crime_2014,other_crime_2014
0,11001,Tiergarten Süd,Mitte,5294,72,195,2295,70,29,146,603,1884
1,11002,Regierungsviertel,Mitte,8381,49,371,4034,52,139,78,548,3110
2,11003,Alexanderplatz,Mitte,21164,199,1065,9467,241,340,465,1629,7758
3,11004,Brunnenstraße Süd,Mitte,4398,34,492,1774,127,154,73,240,1504
4,12005,Moabit West,Mitte,7204,77,399,2246,118,81,206,699,3378
...,...,...,...,...,...,...,...,...,...,...,...,...
138,125008,West 3 - Borsigwalde/Freie Scholle,Reinickendorf,1210,15,37,508,66,24,23,145,392
139,125009,Nord 2 - Waidmannslust/Wittenau/Lübars,Reinickendorf,3211,49,172,1303,123,87,62,459,956
140,126010,Rollbergesiedlung,Reinickendorf,948,16,31,352,25,28,13,111,372
141,126011,MV Nord,Reinickendorf,3316,54,109,1430,37,25,73,581,1007
142,126012,MV Süd,Reinickendorf,1097,7,44,351,30,7,28,180,450

In [30]:
c_2015 = pd.read_excel('../Notebook/source/Fallzahlen&HZ 2013-2022_clean_macro.xlsm', sheet_name='Fallzahlen_2015')

In [31]:
c_2015.isna().sum().sum()
c_2015.shape

(143, 20)

In [32]:
c_2015.head(2)

,LOR,Bezeichnung (Bezirksregion),Bezirk,Straftaten \n-insgesamt-,Raub,"Straßenraub,\nHandtaschen-raub",Körper-verletzungen \n-insgesamt-,Gefährl. und schwere Körper-verletzung,"Freiheits-beraubung, Nötigung,\nBedrohung, Nachstellung",Diebstahl \n-insgesamt-,Diebstahl von Kraftwagen,Diebstahl \nan/aus Kfz,Fahrrad-\ndiebstahl,Wohnraum-\neinbruch,Branddelikte \n-insgesamt-,Brand-\nstiftung,Sach-beschädigung -insgesamt-,Sach-beschädigung durch Graffiti,Rauschgift-delikte,Kieztaten
0,11001,Tiergarten Süd,Mitte,5475,81,58,474,109,107,2720,15,313,246,52,18,11,299,83,135,940
1,11002,Regierungsviertel,Mitte,10313,76,36,478,96,130,5849,15,287,363,48,10,4,314,110,46,863

In [33]:
c_2015 = clean_data(c_2015, "2015")

In [34]:
c_2015

,lor,subdistrict,district,crime_total_2015,robbery_2015,theft_bike_2015,theft_other_2015,bulglary_2015,graffiti_2015,drug_offences_2015,hard_crime_2015,other_crime_2015
0,11001,Tiergarten Süd,Mitte,5475,81,246,2474,52,83,135,581,1823
1,11002,Regierungsviertel,Mitte,10313,76,363,5486,48,110,46,608,3576
2,11003,Alexanderplatz,Mitte,23524,156,1074,11382,235,338,497,1798,8044
3,11004,Brunnenstraße Süd,Mitte,4583,29,421,2034,108,140,73,268,1510
4,12005,Moabit West,Mitte,7428,115,338,2707,112,74,165,755,3162
...,...,...,...,...,...,...,...,...,...,...,...,...
138,125008,West 3 - Borsigwalde/Freie Scholle,Reinickendorf,1345,12,46,546,52,11,24,184,470
139,125009,Nord 2 - Waidmannslust/Wittenau/Lübars,Reinickendorf,4388,42,152,1440,122,118,75,481,1958
140,126010,Rollbergesiedlung,Reinickendorf,1185,22,25,389,29,191,16,166,347
141,126011,MV Nord,Reinickendorf,3366,42,91,1568,22,16,76,505,1046
142,126012,MV Süd,Reinickendorf,1020,23,31,362,20,3,20,206,355

In [35]:
c_2016 = pd.read_excel('../Notebook/source/Fallzahlen&HZ 2013-2022_clean_macro.xlsm', sheet_name='Fallzahlen_2016')

In [36]:
c_2016.isna().sum().sum()
c_2016.shape

(143, 20)

In [37]:
c_2016.head(2)

,LOR,Bezeichnung (Bezirksregion),Bezirk,Straftaten \n-insgesamt-,Raub,"Straßenraub,\nHandtaschen-raub",Körper-verletzungen \n-insgesamt-,Gefährl. und schwere Körper-verletzung,"Freiheits-beraubung, Nötigung,\nBedrohung, Nachstellung",Diebstahl \n-insgesamt-,Diebstahl von Kraftwagen,Diebstahl \nan/aus Kfz,Fahrrad-\ndiebstahl,Wohnraum-\neinbruch,Branddelikte \n-insgesamt-,Brand-\nstiftung,Sach-beschädigung -insgesamt-,Sach-beschädigung durch Graffiti,Rauschgift-delikte,Kieztaten
0,11001,Tiergarten Süd,Mitte,5021,65,54,459,108,125,2489,15,282,232,64,12,2,265,35,164,898
1,11002,Regierungsviertel,Mitte,11488,91,64,564,107,134,6444,15,241,312,54,10,3,362,113,71,1003

In [38]:
c_2016 = clean_data(c_2016, "2016")

In [39]:
c_2016.head(2)

,lor,subdistrict,district,crime_total_2016,robbery_2016,theft_bike_2016,theft_other_2016,bulglary_2016,graffiti_2016,drug_offences_2016,hard_crime_2016,other_crime_2016
0,11001,Tiergarten Süd,Mitte,5021,65,232,2257,64,35,164,584,1620
1,11002,Regierungsviertel,Mitte,11488,91,312,6132,54,113,71,698,4017

In [40]:
c_2017 = pd.read_excel('../Notebook/source/Fallzahlen&HZ 2013-2022_clean_macro.xlsm', sheet_name='Fallzahlen_2017')

In [41]:
c_2017.isna().sum().sum()
c_2017.shape

(143, 20)

In [42]:
c_2017 = clean_data(c_2017, "2017")
c_2017

,lor,subdistrict,district,crime_total_2017,robbery_2017,theft_bike_2017,theft_other_2017,bulglary_2017,graffiti_2017,drug_offences_2017,hard_crime_2017,other_crime_2017
0,11001,Tiergarten Süd,Mitte,5267,62,346,2223,50,41,179,649,1717
1,11002,Regierungsviertel,Mitte,13220,41,309,4225,75,111,87,607,7765
2,11003,Alexanderplatz,Mitte,20868,140,926,9559,148,342,798,2055,6900
3,11004,Brunnenstraße Süd,Mitte,4627,38,462,1814,77,196,79,320,1641
4,12005,Moabit West,Mitte,7999,66,428,2177,102,81,791,904,3450
...,...,...,...,...,...,...,...,...,...,...,...,...
138,125008,West 3 - Borsigwalde/Freie Scholle,Reinickendorf,1176,6,74,446,41,20,24,147,418
139,125009,Nord 2 - Waidmannslust/Wittenau/Lübars,Reinickendorf,3284,33,99,1156,116,134,97,523,1126
140,126010,Rollbergesiedlung,Reinickendorf,945,10,17,317,21,65,15,125,375
141,126011,MV Nord,Reinickendorf,2549,32,69,1022,16,39,57,494,820
142,126012,MV Süd,Reinickendorf,968,8,19,302,29,8,28,234,340

In [43]:
c_2018 = pd.read_excel('../Notebook/source/Fallzahlen&HZ 2013-2022_clean_macro.xlsm', sheet_name='Fallzahlen_2018')

In [44]:
c_2018.isna().sum().sum()
c_2018.shape

(143, 20)

In [45]:
c_2018 = clean_data(c_2018, "2018")
c_2018.head(2)

,lor,subdistrict,district,crime_total_2018,robbery_2018,theft_bike_2018,theft_other_2018,bulglary_2018,graffiti_2018,drug_offences_2018,hard_crime_2018,other_crime_2018
0,11001,Tiergarten Süd,Mitte,5139,69,310,2205,38,42,273,517,1685
1,11002,Regierungsviertel,Mitte,9085,33,369,3478,35,159,132,627,4252

In [46]:
c_2019 = pd.read_excel('../Notebook/source/Fallzahlen&HZ 2013-2022_clean_macro.xlsm', sheet_name='Fallzahlen_2019')

In [47]:
c_2019.isna().sum().sum()
c_2019.shape

(143, 20)

In [48]:
c_2019 = clean_data(c_2019, "2019")

In [49]:
c_2019.head(2)

,lor,subdistrict,district,crime_total_2019,robbery_2019,theft_bike_2019,theft_other_2019,bulglary_2019,graffiti_2019,drug_offences_2019,hard_crime_2019,other_crime_2019
0,11001,Tiergarten Süd,Mitte,4575,52,281,1787,55,58,226,464,1652
1,11002,Regierungsviertel,Mitte,7392,37,339,3119,21,157,164,665,2890

In [50]:
c_2020 = pd.read_excel('../Notebook/source/Fallzahlen&HZ 2013-2022_clean_macro.xlsm', sheet_name='Fallzahlen_2020')

In [51]:
c_2020.isna().sum().sum()
c_2020.shape

(143, 20)

In [52]:
c_2020 = clean_data(c_2020, "2020")

In [53]:
c_2020.head(2)

,lor,subdistrict,district,crime_total_2020,robbery_2020,theft_bike_2020,theft_other_2020,bulglary_2020,graffiti_2020,drug_offences_2020,hard_crime_2020,other_crime_2020
0,11001,Tiergarten Süd,Mitte,4053,48,297,1366,27,40,184,517,1574
1,11002,Regierungsviertel,Mitte,6948,35,231,2471,32,120,139,717,3203

In [54]:
c_2021 = pd.read_excel('../Notebook/source/Fallzahlen&HZ 2013-2022_clean_macro.xlsm', sheet_name='Fallzahlen_2021')

In [55]:
c_2021.isna().sum().sum()
c_2021.shape

(143, 20)

In [56]:
c_2021 = clean_data(c_2021, "2021")

In [57]:
c_2021.head(2)

,lor,subdistrict,district,crime_total_2021,robbery_2021,theft_bike_2021,theft_other_2021,bulglary_2021,graffiti_2021,drug_offences_2021,hard_crime_2021,other_crime_2021
0,11001,Tiergarten Süd,Mitte,3838,35,235,1250,24,44,200,444,1606
1,11002,Regierungsviertel,Mitte,5956,33,246,1786,16,108,172,563,3032

#### Dataframe with all crimes between 2013-2021 
- total numbers

In [58]:
c_2014.head(2)

,lor,subdistrict,district,crime_total_2014,robbery_2014,theft_bike_2014,theft_other_2014,bulglary_2014,graffiti_2014,drug_offences_2014,hard_crime_2014,other_crime_2014
0,11001,Tiergarten Süd,Mitte,5294,72,195,2295,70,29,146,603,1884
1,11002,Regierungsviertel,Mitte,8381,49,371,4034,52,139,78,548,3110

In [59]:
c_2014_edit = c_2014.drop(["lor", "subdistrict", "district"], axis=1)

In [60]:
c_2014_edit.head(2)

,crime_total_2014,robbery_2014,theft_bike_2014,theft_other_2014,bulglary_2014,graffiti_2014,drug_offences_2014,hard_crime_2014,other_crime_2014
0,5294,72,195,2295,70,29,146,603,1884
1,8381,49,371,4034,52,139,78,548,3110

In [61]:
c_2015_edit = c_2015.drop(["lor", "subdistrict", "district"], axis=1)
c_2016_edit = c_2016.drop(["lor", "subdistrict", "district"], axis=1)
c_2017_edit = c_2017.drop(["lor", "subdistrict", "district"], axis=1)
c_2018_edit = c_2018.drop(["lor", "subdistrict", "district"], axis=1)
c_2019_edit = c_2019.drop(["lor", "subdistrict", "district"], axis=1)
c_2020_edit = c_2020.drop(["lor", "subdistrict", "district"], axis=1)
c_2021_edit = c_2021.drop(["lor", "subdistrict", "district"], axis=1)

In [62]:
c_2021.head(2)

,lor,subdistrict,district,crime_total_2021,robbery_2021,theft_bike_2021,theft_other_2021,bulglary_2021,graffiti_2021,drug_offences_2021,hard_crime_2021,other_crime_2021
0,11001,Tiergarten Süd,Mitte,3838,35,235,1250,24,44,200,444,1606
1,11002,Regierungsviertel,Mitte,5956,33,246,1786,16,108,172,563,3032

In [63]:
crime_all = pd.concat([c_2013, c_2014_edit, c_2015_edit, c_2016_edit, c_2017_edit, c_2018_edit, c_2019_edit, c_2020_edit, c_2021_edit], axis=1)
crime_all

,lor,subdistrict,district,crime_total_2013,robbery_2013,theft_bike_2013,theft_other_2013,bulglary_2013,graffiti_2013,drug_offences_2013,...,other_crime_2020,crime_total_2021,robbery_2021,theft_bike_2021,theft_other_2021,bulglary_2021,graffiti_2021,drug_offences_2021,hard_crime_2021,other_crime_2021
0,11001,Tiergarten Süd,Mitte,4835,73,129,2153,62,20,96,...,1574,3838,35,235,1250,24,44,200,444,1606
1,11002,Regierungsviertel,Mitte,7069,44,219,3422,33,151,58,...,3203,5956,33,246,1786,16,108,172,563,3032
2,11003,Alexanderplatz,Mitte,17774,184,806,8602,281,428,485,...,7122,15765,154,744,5632,77,316,857,1848,6137
3,11004,Brunnenstraße Süd,Mitte,4378,32,344,2090,137,168,69,...,1321,3400,42,362,1117,32,102,126,343,1276
4,12005,Moabit West,Mitte,6522,88,328,2033,139,89,197,...,2857,6032,48,388,1525,69,99,521,794,2588
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,125008,West 3 - Borsigwalde/Freie Scholle,Reinickendorf,1277,14,69,557,64,13,25,...,482,1084,4,65,317,21,7,24,175,471
139,125009,Nord 2 - Waidmannslust/Wittenau/Lübars,Reinickendorf,3226,43,165,1413,99,64,86,...,1663,4242,27,111,1082,67,80,101,447,2327
140,126010,Rollbergesiedlung,Reinickendorf,1066,14,26,453,36,14,15,...,267,838,4,17,354,10,3,9,121,320
141,126011,MV Nord,Reinickendorf,3352,70,83,1445,42,28,111,...,667,2114,21,66,696,13,9,45,427,837
142,126012,MV Süd,Reinickendorf,1039,11,49,391,25,8,23,...,394,784,8,22,172,11,1,18,172,380

In [64]:
crime_all.columns

Index(['lor', 'subdistrict', 'district', 'crime_total_2013', 'robbery_2013',
       'theft_bike_2013', 'theft_other_2013', 'bulglary_2013', 'graffiti_2013',
       'drug_offences_2013', 'hard_crime_2013', 'other_crime_2013',
       'crime_total_2014', 'robbery_2014', 'theft_bike_2014',
       'theft_other_2014', 'bulglary_2014', 'graffiti_2014',
       'drug_offences_2014', 'hard_crime_2014', 'other_crime_2014',
       'crime_total_2015', 'robbery_2015', 'theft_bike_2015',
       'theft_other_2015', 'bulglary_2015', 'graffiti_2015',
       'drug_offences_2015', 'hard_crime_2015', 'other_crime_2015',
       'crime_total_2016', 'robbery_2016', 'theft_bike_2016',
       'theft_other_2016', 'bulglary_2016', 'graffiti_2016',
       'drug_offences_2016', 'hard_crime_2016', 'other_crime_2016',
       'crime_total_2017', 'robbery_2017', 'theft_bike_2017',
       'theft_other_2017', 'bulglary_2017', 'graffiti_2017',
       'drug_offences_2017', 'hard_crime_2017', 'other_crime_2017',
       'crime_total_2018', 'robbery_2018', 'theft_bike_2018',
       'theft_other_2018', 'bulglary_2018', 'graffiti_2018',
       'drug_offences_2018', 'hard_crime_2018', 'other_crime_2018',
       'crime_total_2019', 'robbery_2019', 'theft_bike_2019',
       'theft_other_2019', 'bulglary_2019', 'graffiti_2019',
       'drug_offences_2019', 'hard_crime_2019', 'other_crime_2019',
       'crime_total_2020', 'robbery_2020', 'theft_bike_2020',
       'theft_other_2020', 'bulglary_2020', 'graffiti_2020',
       'drug_offences_2020', 'hard_crime_2020', 'other_crime_2020',
       'crime_total_2021', 'robbery_2021', 'theft_bike_2021',
       'theft_other_2021', 'bulglary_2021', 'graffiti_2021',
       'drug_offences_2021', 'hard_crime_2021', 'other_crime_2021'],
      dtype='object')

In [65]:
# Output

c_2021.to_excel('crime_2021.xlsx', index=False)
crime_all.to_excel('crime_all.xlsx', index=False)

In [66]:
crime_all["crime_total_2013"].sum()

442236

In [67]:
crime_all["crime_total_2021"].sum()

420853

In [68]:
crime_all["crime_total_2020"].sum()

440566

In [69]:
crime_all["crime_total_2019"].sum()

446775

In [70]:
crime_all["crime_total_2015"].sum()

506633

#### 3_cases

In [71]:
density_3cases = pd.read_excel('../Notebook/data_clean/density_3cases.xlsx')

In [72]:
density_3cases.head(3)

     lor   subdistrict  year  density
0  81003  Reuterstraße  2013   105.43
1  81003  Reuterstraße  2014   107.45
2  81003  Reuterstraße  2015   108.97

In [74]:
display(crime_all[crime_all["lor"] == 81003])
display(crime_all[crime_all["lor"] == 122005])
display(crime_all[crime_all["lor"] == 42002])
# no_changes = density[density["den_delta"] == 0]

,lor,subdistrict,district,crime_total_2013,robbery_2013,theft_bike_2013,theft_other_2013,bulglary_2013,graffiti_2013,drug_offences_2013,...,other_crime_2020,crime_total_2021,robbery_2021,theft_bike_2021,theft_other_2021,bulglary_2021,graffiti_2021,drug_offences_2021,hard_crime_2021,other_crime_2021
79,81003,Reuterstraße,Neukölln,5681,93,276,2257,151,111,204,...,2118,6811,58,465,2413,37,155,390,803,2490

,lor,subdistrict,district,crime_total_2013,robbery_2013,theft_bike_2013,theft_other_2013,bulglary_2013,graffiti_2013,drug_offences_2013,...,other_crime_2020,crime_total_2021,robbery_2021,theft_bike_2021,theft_other_2021,bulglary_2021,graffiti_2021,drug_offences_2021,hard_crime_2021,other_crime_2021
135,122005,West 5 - Tegel,Reinickendorf,1821,22,95,803,19,33,34,...,557,1464,14,54,659,17,26,33,166,495

,lor,subdistrict,district,crime_total_2013,robbery_2013,theft_bike_2013,theft_other_2013,bulglary_2013,graffiti_2013,drug_offences_2013,...,other_crime_2020,crime_total_2021,robbery_2021,theft_bike_2021,theft_other_2021,bulglary_2021,graffiti_2021,drug_offences_2021,hard_crime_2021,other_crime_2021
35,42002,Heerstraße,Charlottenburg-Wilmersdorf,1465,17,55,694,62,67,19,...,426,1195,11,46,396,52,70,21,148,451

In [75]:
crime_columns = crime_all.columns[crime_all.columns.str.startswith('crime_total')]

In [76]:
crime_columns

Index(['crime_total_2013', 'crime_total_2014', 'crime_total_2015',
       'crime_total_2016', 'crime_total_2017', 'crime_total_2018',
       'crime_total_2019', 'crime_total_2020', 'crime_total_2021'],
      dtype='object')

In [77]:
filter_max = crime_all[crime_all["lor"] == 81003]
filter_max

,lor,subdistrict,district,crime_total_2013,robbery_2013,theft_bike_2013,theft_other_2013,bulglary_2013,graffiti_2013,drug_offences_2013,...,other_crime_2020,crime_total_2021,robbery_2021,theft_bike_2021,theft_other_2021,bulglary_2021,graffiti_2021,drug_offences_2021,hard_crime_2021,other_crime_2021
79,81003,Reuterstraße,Neukölln,5681,93,276,2257,151,111,204,...,2118,6811,58,465,2413,37,155,390,803,2490

In [78]:
crime_list = []

for col in filter_max.columns:
    if col in crime_columns:
        value = filter_max[col].iloc[0]
        crime_list.append(value)

crime_list

[5681, 6450, 7075, 6561, 6437, 6123, 6969, 6886, 6811]

In [79]:
filter_min = crime_all[crime_all["lor"] == 122005]

In [80]:
for col in filter_min.columns:
    if col in crime_columns:
        value = filter_min[col].iloc[0]
        crime_list.append(value)

crime_list

[5681,
 6450,
 7075,
 6561,
 6437,
 6123,
 6969,
 6886,
 6811,
 1821,
 1907,
 2053,
 2190,
 1914,
 1990,
 1748,
 1560,
 1464]

In [81]:
filter_zero = crime_all[crime_all["lor"] == 42002]

for col in filter_zero.columns:
    if col in crime_columns:
        value = filter_zero[col].iloc[0]
        crime_list.append(value)

crime_list

[5681,
 6450,
 7075,
 6561,
 6437,
 6123,
 6969,
 6886,
 6811,
 1821,
 1907,
 2053,
 2190,
 1914,
 1990,
 1748,
 1560,
 1464,
 1465,
 1445,
 2141,
 1607,
 1337,
 1462,
 1429,
 1231,
 1195]

In [82]:
density_3cases["total_crime"] = crime_list
density_3cases

       lor     subdistrict  year  density  total_crime
0    81003    Reuterstraße  2013   105.43         5681
1    81003    Reuterstraße  2014   107.45         6450
2    81003    Reuterstraße  2015   108.97         7075
3    81003    Reuterstraße  2016   109.13         6561
4    81003    Reuterstraße  2017   109.55         6437
5    81003    Reuterstraße  2018   109.87         6123
6    81003    Reuterstraße  2019   108.83         6969
7    81003    Reuterstraße  2020   107.60         6886
8    81003    Reuterstraße  2021   271.08         6811
9   122005  West 5 - Tegel  2013   155.39         1821
10  122005  West 5 - Tegel  2014   157.62         1907
11  122005  West 5 - Tegel  2015   159.53         2053
12  122005  West 5 - Tegel  2016   166.13         2190
13  122005  West 5 - Tegel  2017   166.33         1914
14  122005  West 5 - Tegel  2018   167.00         1990
15  122005  West 5 - Tegel  2019   168.95         1748
16  122005  West 5 - Tegel  2020   167.86         1560
17  122005  West 5 - Tegel  2021    45.91         1464
18   42002      Heerstraße  2013     0.54         1465
19   42002      Heerstraße  2014     0.53         1445
20   42002      Heerstraße  2015     0.54         2141
21   42002      Heerstraße  2016     0.55         1607
22   42002      Heerstraße  2017     0.55         1337
23   42002      Heerstraße  2018     0.56         1462
24   42002      Heerstraße  2019     0.56         1429
25   42002      Heerstraße  2020     0.55         1231
26   42002      Heerstraße  2021     0.54         1195

In [83]:
# the same for robbery now

In [84]:
robbery_columns = crime_all.columns[crime_all.columns.str.startswith('robbery')]
robbery_columns

Index(['robbery_2013', 'robbery_2014', 'robbery_2015', 'robbery_2016',
       'robbery_2017', 'robbery_2018', 'robbery_2019', 'robbery_2020',
       'robbery_2021'],
      dtype='object')

In [85]:
robberies_list = []

for col in filter_max.columns:
    if col in robbery_columns:
        value = filter_max[col].iloc[0]
        robberies_list.append(value)

for col in filter_min.columns:
    if col in robbery_columns:
        value = filter_min[col].iloc[0]
        robberies_list.append(value)

for col in filter_zero.columns:
    if col in robbery_columns:
        value = filter_zero[col].iloc[0]
        robberies_list.append(value)

robberies_list

[93,
 71,
 106,
 75,
 47,
 53,
 66,
 56,
 58,
 22,
 24,
 17,
 25,
 14,
 19,
 27,
 23,
 14,
 17,
 14,
 11,
 9,
 15,
 19,
 13,
 4,
 11]

In [86]:
density_3cases["robbery"] = robberies_list
density_3cases

       lor     subdistrict  year  density  total_crime  robbery
0    81003    Reuterstraße  2013   105.43         5681       93
1    81003    Reuterstraße  2014   107.45         6450       71
2    81003    Reuterstraße  2015   108.97         7075      106
3    81003    Reuterstraße  2016   109.13         6561       75
4    81003    Reuterstraße  2017   109.55         6437       47
5    81003    Reuterstraße  2018   109.87         6123       53
6    81003    Reuterstraße  2019   108.83         6969       66
7    81003    Reuterstraße  2020   107.60         6886       56
8    81003    Reuterstraße  2021   271.08         6811       58
9   122005  West 5 - Tegel  2013   155.39         1821       22
10  122005  West 5 - Tegel  2014   157.62         1907       24
11  122005  West 5 - Tegel  2015   159.53         2053       17
12  122005  West 5 - Tegel  2016   166.13         2190       25
13  122005  West 5 - Tegel  2017   166.33         1914       14
14  122005  West 5 - Tegel  2018   167.00         1990       19
15  122005  West 5 - Tegel  2019   168.95         1748       27
16  122005  West 5 - Tegel  2020   167.86         1560       23
17  122005  West 5 - Tegel  2021    45.91         1464       14
18   42002      Heerstraße  2013     0.54         1465       17
19   42002      Heerstraße  2014     0.53         1445       14
20   42002      Heerstraße  2015     0.54         2141       11
21   42002      Heerstraße  2016     0.55         1607        9
22   42002      Heerstraße  2017     0.55         1337       15
23   42002      Heerstraße  2018     0.56         1462       19
24   42002      Heerstraße  2019     0.56         1429       13
25   42002      Heerstraße  2020     0.55         1231        4
26   42002      Heerstraße  2021     0.54         1195       11

In [87]:
density_3cases.to_excel('density_3cases.xlsx', index=False)